<%= form_with(model: @product, local: true) do |form| %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, id: :product_title %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description, id: :product_description, size: "40x20" %>
    </div>

    <div class="field">
      <%= form.label :image_url %>
      <%= form.text_field :image_url, id: :product_image_url %>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.text_field :price, id: :product_price %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
