<h1>Products</h1>
<%= form_with(model: @product, local: true) do |product|%>
    <%=label(:q,"Search")%>
    <%=product.text_field(:q)%>
    <%=product.submit("Search")%>
    <%end%>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image url</th>
    <th>Price</th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |products| %>
      <tr>
        <td><%= products.title %></td>
        <td><%= products.description %></td>
        <td><%= products.image_url %></td>
        <td><%= products.price %></td>
        <td><%= link_to 'Show',products %></td>
        <td><%= link_to 'Edit', edit_product_path(products) %></td>
        <td><%= link_to 'Destroy', products, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<br>

<%= link_to 'New Products', new_product_path %>

<br>

